# Mediaflex DB PLSQL Notebook
================================

## Oracle DB Connection

Connect oracle with cx_Oracle and sqlalchemy 3rd party tools.

In [1]:
# Load environment variables and set up the Oracle client
import os
from dotenv import load_dotenv
import cx_Oracle

# Load environment variables from .env file
load_dotenv()

# Retrieve the variables
host = os.getenv('ORACLE_HOST')
port = os.getenv('ORACLE_PORT')
db = os.getenv('ORACLE_DB')
user = os.getenv('ORACLE_USER')
password = os.getenv('ORACLE_PASSWORD')
client_path = os.getenv('ORACLE_CLIENT_PATH')

# Initialize the Oracle Client only if it hasn't been initialized yet
try:
    cx_Oracle.init_oracle_client(lib_dir=client_path)
    print("Oracle client initialized.")
except cx_Oracle.ProgrammingError as e:
    if "already been initialized" in str(e):
        print("Oracle client already initialized, skipping initialization.")
    else:
        raise

# Create the SQLAlchemy connection string for SQL magic
oracle_connection_string = f"oracle://{user}:{password}@{host}:{port}/{db}"

# Load SQL extension and establish connection
%load_ext sql
%sql $oracle_connection_string

# Establish a test connection to verify
try:
    connection = cx_Oracle.connect(user=user, password=password, dsn=f"{host}:{port}/{db}")
    connection.close()
    print("Oracle connection established successfully.")
except cx_Oracle.DatabaseError as e:
    print(f"Error: {e}")

Oracle client initialized.
Oracle connection established successfully.

## Titles

1. Seriels Title -> Season Title -> Title
2. Searies Title -> Title
3. Season Title -> Title
4. Title (Standalone Title)

In [2]:
%%sql

# 1. Seriels Title -> Season Title -> Title

SELECT * FROM tmddba.MDD_TITLES
WHERE title_id = '6344486'

# 2. Searies Title -> Title

SELECT * FROM tmddba.MDD_TITLES
WHERE title_id = '6344486'

# 3. Season Title -> Title

SELECT * FROM tmddba.MDD_TITLES
WHERE title_id = '6344486'


# 4. Standalone Title

SELECT * FROM tmddba.MDD_TITLES
WHERE title_id = '6344486'

 * oracle://mdd:***@10.2.0.52:1521/NFSALIVE
0 rows affected.

[(6344486, 'STANDALONE TITLE', None, None, None, None, 'MAD MAX : FURY ROAD', None, 3010, 0, 0, 0, '1470135', None, None, None, None, None, 0, -1, '|NFSA|', 0, 0, None, 1, 'In Copyright', '10', 'Unknown', 'JSHUTTLEWORTH', datetime.datetime(2016, 4, 7, 15, 23, 8), 'DBALDWIN', datetime.datetime(2017, 9, 7, 10, 2, 33), 4, 'Moving Image', 3, 'Film', None, None, 0, None, None, 'NR', None)]

### Search by Title and Title Genre

In [10]:
%%sql
SELECT * FROM tmddba.MDD_TITLES t
LEFT JOIN TMDDBA.mdd_title_genre v 
ON v.title_id_fk = t.title_id
WHERE TITLE_ID = '6344486'

 * oracle://mdd:***@10.2.0.52:1521/NFSALIVE
0 rows affected.

[(6344486, 'STANDALONE TITLE', None, None, None, None, 'MAD MAX : FURY ROAD', None, 3010, 0, 0, 0, '1470135', None, None, None, None, None, 0, -1, '|NFSA|', 0, 0, None, 1, 'In Copyright', '10', 'Unknown', 'JSHUTTLEWORTH', datetime.datetime(2016, 4, 7, 15, 23, 8), 'DBALDWIN', datetime.datetime(2017, 9, 7, 10, 2, 33), 4, 'Moving Image', 3, 'Film', None, None, 0, None, None, 'NR', None, 6344486, 2, 'Action'),
 (6344486, 'STANDALONE TITLE', None, None, None, None, 'MAD MAX : FURY ROAD', None, 3010, 0, 0, 0, '1470135', None, None, None, None, None, 0, -1, '|NFSA|', 0, 0, None, 1, 'In Copyright', '10', 'Unknown', 'JSHUTTLEWORTH', datetime.datetime(2016, 4, 7, 15, 23, 8), 'DBALDWIN', datetime.datetime(2017, 9, 7, 10, 2, 33), 4, 'Moving Image', 3, 'Film', None, None, 0, None, None, 'NR', None, 6344486, 68, 'Thriller')]